{% extends 'blog/main.html' %}
{% block main_section %}
{% for post in news %}
<div class="alert alert-light">
    <h1>{{post.title}}</h1>
    <p>{{ post.text}}</p>
    <div class="row">
        <div class="col-md-2">
            {% if post.author.profile.img %}
            <img src="{{post.author.profile.img.url}}" alt="{{post.author}}" class="user_image">
            {% else %}
            <img src="/pictures/default.jpg" alt="{{post.author}}" class="user_image">
            {%endif%}
        </div>
    <div class="col-md-10">
    <span class="text-muted">{{post.date|date:"d E Y в H:i:s" }}</span>
        {% if post.author %}
    <p>Author: {{post.author}}</p>
{% else %}
    <p>Author: Admdin</p>
{% endif %}
         </div>
    </div>
    <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning">Читать далее</a>
        </div>
{% endfor %}
{% endblock main_section %}
