{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="{% url 'blog-home' %}"><b>BLOG</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'blog-home' %}">Главная</a>
        </li>

      </ul>
    </div>
  </nav>
    <main class="container">
       <div class="row">
           <div class="col-md-8">
               {% if messages%}
               {% for mess in messages %}
               <div class="alert alert-success">
                   {{mess}}
               </div>
               {%endfor%}
               {%endif%}

                {%block main_section%}
                {%endblock%}
           </div>
           <aside class="col-md-4">
               <div class="p-3 ">
                {%block aside_news_section%}
                {%endblock%}
                </div>
           </aside>
       </div>
    </main>

<footer>
  <div class="container">
    <p class="float-right">
      <a href="#">Наверх</a>
    </p>
    <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    <p>Впервые на сайте? <a href="/">Перейти на главную</a> </p>
  </div>
</footer>

</body>
</html>