{% extends 'blog/main.html' %}
{% load crispy_forms_tags%}
{%block main_section%}
<div class="form-section">
    <h2>Регистрация на сайте</h2>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
    <button type="submit" class="btn btn-outline-warning"> Зарегистрироваться</button>
    </form>
    <hr>
    Уже зарегистрированы? <a href="{% url 'auth' %}" >Войти в личный кабинет</a>
</div>
    {%endblock main_section%}

{%block aside_news_section%}

<h3><b>Google обновит правила для разработчиков расширений Chrome Web Store</b></h3>
<img src="https://habrastorage.org/webt/bc/v-/ql/bcv-ql9mypmeeqhnhkwd2ezlyeg.jpeg" class="img-thumbnail mb-1">
<p>
    Google изменит правила использования магазина расширений Chrome Web Store. Новая политика даст компании возможность удалять расширения, признанные вредоносными или распространяющими спам.

Обновление политики будет содержать шесть новых запретов:

Разработчикам запрещается публиковать дубликаты других расширений, уже присутствующих в Chrome Web Store;
Запрещается искажать метаданные расширения, кроме того, информация не должна быть «чрезмерной». Речь идёт об информации, касающейся описания расширения, имени разработчика, названия, иконок, скриншотов и рекламы;
Запрещается накручивать рейтинги расширений, а также размещать поддельные отзывы и обзоры;
Запрещается размещать расширения, созданные только для запуска сторонних приложений, тем или веб-страниц;
Запрещается публиковать расширения, которые рассылают спам и злоупотребляют распространением рекламы или нежелательных сообщений, а также мешают просмотру страниц.
</p>
<a href="https://habr.com/ru/news/t/499942/" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
</a>
{%endblock aside_news_section%}